<div class="container">



<!--  <div>-->
<!--    <div class="d-grid gap-2 col-6 mx-auto">-->
<!--      <button class="btn btn-secondary btn-lg" type="button" (click)="onAddStudy()">Add Study</button>-->
<!--    </div>-->

<!--  </div>-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
  <!-- * * * * * * * to get started with your project! * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <h4 class="breadTitle">Edit: Night Club Study</h4>
  <div class="containerOuter">
    <div style="width: 50%;">
      <p>Click on list item to show item options</p>
      <div class="container" cdkDropList id="todo" >
        <div class="item" >
          <div>Categories</div>
        </div>
        <div class="item" >
          <div>Settings</div>
        </div>
      </div>

    </div>
    <div class="detail">
        <app-study-details></app-study-details>
    </div>

  </div>
</div>
