a{
  text-decoration: none;color: #555555;
}
.modal .modal-content {
  background: white;
}
.filterIcon{
  color: red;
}
.inviteStatus{
  text-align: center;
}
.spinner-border{
  width: auto;
  margin: auto;
}
.not-allowed{
  cursor: not-allowed;
}
.showCursor{
  cursor: not-allowed;
}
.mobileSubMenu li{
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}
.links ul li {
  margin-bottom: 5px;
  float: inline-start;
  list-style: none;


}

.links ul li button{
  font-size:11px;
  background: #236491;
  color: white;
}
.search-sm{
  width:168px;
}
