<div class="">
  <ng-container *ngIf="payment.openStripe"  >
    <div class="pl-4 pr-4">

<!--      <h6 class="text-center">All transactions are secure and encrypted</h6>-->
      <!-- Stripe -->
      <form id="payment-form" class="w-full mb-5 mt-3">
        <div id="link-authentication-element">
          <!--Stripe.js injects the Link Authentication Element-->
        </div>
        <div id="payment-element">
          <!--Stripe.js injects the Payment Element-->
        </div>
        <div class="mt-5">
        <button id="submit" (click)="makePayment()">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Subscribe</span>
        </button>
          <p class="mt-5 text-right checkoutTerms">
            <a (click)="onToggleNotices(true)" data-toggle="modal" data-target="#exampleModal">Terms and Conditions </a> |
            <a (click)="onToggleNotices(false)" data-toggle="modal" data-target="#exampleModal">Privacy Policy</a></p>
        </div>
        <div id="payment-message" class="hidden"></div>
      </form>
      <!-- Stripe -->

    </div>
  </ng-container>
  <ng-container *ngIf="payment.openSuccess">
    <div>
      <h1>Thank you successfully Paid</h1>
    </div>
  </ng-container>

<!--    <button  (click)="preparePayment('qwert')">Get Intent</button>-->

  <div  class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true"
        style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel">{{toggleNotices?'Terms and Conditions':'Privacy Policy'}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row col-12" >
            <div *ngIf="toggleNotices; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock><app-customer-terms></app-customer-terms></ng-template>
            <ng-template #elseBlock><app-customer-privacy-policy></app-customer-privacy-policy></ng-template>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!--            <button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>

    </div>
  </div>

</div>

