<section class="bg-light p-3 p-md-4 p-xl-5 ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-11">
        <h4 class="ml-2 pl-xs-0 mb-xs-1 mt-xs-0    s-header__logo-img s-header__logo-img-shrink appName text-center">
          <span>Peeker</span>
          <span
            class="study-title-initial">Pro </span>
          <span
            class="study-title"> ~ admin</span>
        </h4>

        <div class="card border-light-subtle shadow-sm mt-5">
          <div class="row g-0">
            <!--            <div class="col-12 col-md-12">-->
            <!--              <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="./assets/img/logo-img-1.webp" alt="Welcome back you've been missed!">-->
            <!--            </div>-->
            <div class="col-12 col-md-12 d-flex ">

              <div class="card-body p-3 p-md-4 p-xl-5  mb-5 ml-1 ml-md-2 ml-lg-5">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-5">

                      <!--                        <div class="text-center mb-4">-->
                      <!--                          <a href="#!">-->
                      <!--                            <img src="./assets/img/bsb-logo.svg" alt="BootstrapBrain Logo" width="175" height="57">-->
                      <!--                          </a>-->
                      <!--                        </div>-->
                      <!--                        <h4 class="text-center">SurveyTell</h4>-->
                    </div>
                  </div>

                </div>
                <div>

                  <div class="g-text-center--xs g-margin-b-10--xs wow fadeInDown " data-wow-duration=".3"
                       data-wow-delay=".1s">
                    <!--    <p-->
                    <!--      class="text-uppercase g-font-size-10&#45;&#45;lg&#45;&#45;xs g-font-weight&#45;&#45;700 g-color&#45;&#45;primary g-letter-spacing&#45;&#45;2 g-margin-b-25&#45;&#45;xsg-margin-t-25&#45;&#45;xs">-->
                    <!--     </p>-->
                    <!--    <h5 class="g-font-size-13&#45;&#45;xs&#45;&#45;xs g-font-size-11&#45;&#45;xs&#45;&#45;md">-->
                    <!--      <br> </h5>-->
                    <div *ngIf="resetPasswordShowLinkExpiredMsg" class="g-margin-b-120--xs ">
                      <h5>{{resetPasswordShowLinkExpiredMsg}}</h5>
                      <button class="text-uppercase btn btn-outline-dark" (click)="backToLogin()">Return To Login
                      </button>
                    </div>
                    <div *ngIf="resetPasswordShowSuccess" class="g-margin-b-120--xs ">
                      <h5>Your Password Has Been Updated</h5>
                      <button class="text-uppercase btn btn-outline-dark" (click)="backToLogin()">Return To Login
                      </button>
                    </div>
                  </div>
                  <div *ngIf="resetPasswordShow" class="row g-margin-b-10--xs ">
                    <div class="col-sm-4 g-margin-b-0--xs g-margin-b-0--md">
                      <h3 class="text-center g-margin-t-30--xs g-color--primary mb-3">Reset Password</h3>
                      <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                          <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".1s">
                            <i class="g-font-size-28--xs g-color--primary ti-desktop"></i>

                          </div>

                        </div>

                        <div *ngIf="resetPasswordShow">
                          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="row g-margin-b-40--xs">
                              <div class="col-sm-12 g-margin-b-20--xs g-margin-b-0--md">
                                <div class="g-margin-b-20--xs mb-2">
                                  <div *ngIf="confirmPasswords.errors">
                                    <div *ngIf="confirmPasswords.errors['confirmedValidator'] && f.password.errors">
                                      <ul class="">
                                        <li>Password must contain at least one number</li>
                                        <li>one uppercase & lowercase letter</li>
                                        <li>at least 8 characters</li>
                                        <li>Password cannot contain whitespace</li>
                                      </ul>
                                    </div>
                                  </div>
                                  <input type="password" formControlName="password"
                                         class="form-control s-form-v4__input g-radius--50"
                                         placeholder="* Insert New Password"
                                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>


                                  <div *ngIf="submitted && f.password.errors" class="">
                                    <div *ngIf="f.password.errors['required']" class="">Password is required</div>
                                  </div>
                                </div>

                                <div class="g-margin-b-20--xs">
                                  <input type="password" formControlName="confirmPassword"
                                         class="form-control s-form-v4__input g-radius--50"
                                         placeholder="* Confirm Password"
                                         [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
                                  <div>

                                    <div *ngIf="submitted">
                                      <div *ngIf="confirmPasswords.errors">
                                        <div *ngIf="confirmPasswords.errors['confirmedValidator'] && !f.password.errors">
                                          passwords do not match
                                        </div>
                                      </div>
                                      <div *ngIf="f.confirmPassword.errors">
                                        <div *ngIf="f.confirmPassword.errors['required']">
                                          Confirmation password is required
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="text-center mt-5">
                                  <button type="submit"
                                          class="text-uppercase btn btn-dark btn-lg btn-sm">
                                    Reset
                                    Password
                                  </button>
                                </div>
                                <div class="text-center mt-4 ">
                                  <button type="button"  (click)="backToLogin()" class="btn btn-link">Back To login</button>

                                </div>
                              </div>
                            </div>
                          </form>
                          <div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
