<div class="container-fluid">
  <div class="row equal-height-container">

<!--    <div class="col-12">-->
<!--      <h5 class="mb-4 text-center">Upgrade Detail</h5>-->
<!--    </div>-->
    <div class="row">
      <div class="col-md-12 col-lg-8 mb-6 col-item">
        <div *ngIf="showPayment" class="card formStyle">
          <h5 class="text-center mt-3 paymentHeading">PAYMENT</h5>
          <app-checkout [pkgProductPricingId]="pkgProductPricingId"></app-checkout>

        </div>
        <div *ngIf="!showPayment" class="card">
          <div class="card-body pt-2 pb-5 d-flex flex-lg-column flex-md-row flex-sm-row flex-column ">
            <p class="closeBtn" (click)="onBackToListing()"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><line x1="368" y1="368" x2="144" y2="144" style="fill:none;stroke:#999;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="368" y1="144" x2="144" y2="368" style="fill:none;stroke:#999;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg></p>
            <div class="price-top-part purchase">

              <i class="iconsminds-male large-icon"></i>
              <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">{{pkg['pricing']['name']}}  UPGRADE</h5>
                                <p class="text-large mb-2 text-default">{{pkg['pricing']['price']}}</p>
              <p class="text-muted text-small">User/Month</p>
            </div>
            <div class="pl-3 pr-3 pt-3 pb-0 d-flex price-feature-list flex-column flex-grow-1 purchase">
              <ul class="list-unstyled">


                <li *ngFor="let package of pkg['pricing']['pkgDetails']" >

                    {{package}}

                </li>
                <li class="text-right pt-4">

                  <a (click)="onGoToPayment()"  class="btn btn-link btn-empty  btn-lg purchase">Go To Checkout
                    <i class="simple-icon-arrow-right"></i>
                  </a>

<!--                  <a href="{{pkg['pricing']['url']}}?prefilled_email={{userEmail}}" class="btn btn-link btn-empty  btn-lg purchase">Go To Checkout-->
<!--                    <i class="simple-icon-arrow-right"></i>-->
<!--                  </a>-->
                </li>
              </ul>

<!--              <div class="text-right">-->
<!--                <a  href="{{pkg['pricing']['url']}}" class="btn btn-link btn-empty btn-lg purchase">Buy-->
<!--                  <i class="simple-icon-arrow-right"></i>-->
<!--                </a>-->
<!--              </div>-->


            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-xl-4 col-left">
        <div class="card mb-2">
          <div class="card-body">
            <div class="mb-1">
                            <h5
                            class="mb-0 font-weight-semibold color-theme-1 mb-4">Why Upgrade?</h5>

              <p><strong>Upgrading your subscription will not affect existing stored data.</strong></p>
              <p>
                Upgrading your plan unlocks powerful features designed to enhance your experience
                and help you achieve more. Here’s why an upgrade might be the right choice for you:

              </p>
              <ul>
                <li>Increased storage space</li>
                <li>Unlock Additional Features</li>
              </ul>


            </div>
          </div>
        </div>


        <div class="card mb-2">
          <div class="card-body">
            <div class="mb-5">
              <h5
                class="mb-0 font-weight-semibold color-theme-1 mb-4">Secure Payments</h5>
              <p>
                All our customer transactions are handled via <strong>Stripe Payments</strong>. Stripe is one of the most trusted and powerful payment processing platforms,
                offering businesses a seamless way to accept and manage online payments.
                High Security & Compliance – PCI-DSS compliant, fraud protection, and uses encryption for secure transactions.

              </p>
              <p class="toggleLink">For more user information please take a look at our
                <a (click)="onToggleNotices(true)" data-toggle="modal" data-target="#exampleModal"><strong>Terms and Conditions</strong></a>
              and
                <a (click)="onToggleNotices(false)" data-toggle="modal" data-target="#exampleModal"><strong>Privacy Policy</strong></a>.
              </p>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>

  <div  class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true"
       style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel">{{toggleNotices?'Terms and Conditions':'Privacy Policy'}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row col-12" >
            <div *ngIf="toggleNotices; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock><app-customer-terms></app-customer-terms></ng-template>
            <ng-template #elseBlock><app-customer-privacy-policy></app-customer-privacy-policy></ng-template>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!--            <button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--            <div class="mb-5">-->
  <!--              <h5 class="card-title">Unprecedented Challenge</h5>-->
  <!--              <ul class="list-unstyled">-->
  <!--                <li>Preliminary thinking systems</li>-->
  <!--                <li>Bandwidth efficient</li>-->
  <!--                <li>Green space</li>-->
  <!--                <li>Social impact</li>-->
  <!--                <li>Thought partnership</li>-->
  <!--                <li>Fully ethical life</li>-->
  <!--              </ul>-->
  <!--            </div>-->
