<div class="card mb-4 ml-2 ml-md-0">
    <h5 (click)="onReturnToParticipantList()" class="text-right pr-4 pt-4 pt-lg-4">
      <i class="bi bi-x-circle"></i>
    </h5>
    <h4 class="mt-0 text-center offset-4 offset-md-0 text-center blueHeading">Access Study Via QR Code</h4>
      <div class="card-body pr-0 pl-0 pt-4 pt-md-0">
        <div class="row">
          <div class="col-12 col-md-5  offset-md-0 mb-3 mt-0 mt-md-4">
            <div #downloadEl class="text-center offset-4 right-border-line">
              <qrcode [qrdata]="url" [width]="200" [errorCorrectionLevel]="'M'" ></qrcode>
            </div>
          </div>
          <div class="col-12 col-md-5  mb-3 ">
            <div class="button-row text-center offset-4">
              <a href="{{url}}" target="_blank" class="btn btn-outline-dark btn-sm d-sm-block mb-5 mt-5">Click
                To Open</a>

              <a class="btn btn-outline-dark btn-sm d-none d-xs-none d-xl-block" (click)="onSaveChartClicked()">
                Download Qr Code Image
              </a>
                <p class="text-center d-none d-xs-block d-sm-block mt-5 shareLink" style="cursor: pointer"
                   (click)="copyText(url)" >Share Link:<br>
                  <span>{{copyShareLink?'Copied' +
                    '!' : url}} </span>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>


