<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-12">

<h6>Redirecting to web account</h6>

      <!--        <div class="mb-2">-->
      <!--          <h1>Pricing</h1>-->
      <!--          <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">-->
      <!--            <ol class="breadcrumb pt-0">-->
      <!--              <li class="breadcrumb-item">-->
      <!--                <a href="#">Home</a>-->
      <!--              </li>-->
      <!--              <li class="breadcrumb-item">-->
      <!--                <a href="#">Library</a>-->
      <!--              </li>-->
      <!--              <li class="breadcrumb-item active" aria-current="page">Data</li>-->
      <!--            </ol>-->
      <!--          </nav>-->
      <!--          <div class="separator mb-5"></div>-->
      <!--        </div>-->


    </div>
  </div>


</div>

