<div *ngIf="!resetPasswordShow">

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="row g-margin-b-40--xs">
      <div class="col-sm-12 g-margin-b-20--xs g-margin-b-0--md">
        <div class="g-margin-b-20--xs">
          <input type="email" formControlName="email" class="form-control s-form-v4__input g-radius--50"
                 placeholder="* Enter Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors['required']">Registered email is required</div>
          </div>
        </div>
      </div>
      <div class="text-right mt-3 mb-3">
        <button type="submit"
                class="text-uppercase btn btn-dark btn-sm ">Reset Password
        </button>
      </div>
    </div>
  </form>

</div>
<div *ngIf="resetPasswordShow">
  <h6 class="text-center mt-4 mb-4">Password recovery details have been sent to the registered email </h6>

  <form [formGroup]="resetFormId" (ngSubmit)="onSubmitIdChecker()">
  <label>Enter Code</label>
  <input formControlName="resetId" type="text">
  <button type="submit">Submit</button>
</form>
  {{resetFormId.value|json}}
</div>
<div class="text-center" >
  <a href="#" (click)="onResetPasswordCancel()" class="text-decoration-none mt-4 mb-4">Back To login</a>

</div>



