.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
  background: #eceef0;
  color: #8f8f8f;
  border-color: #b2b2b2;
}
.a-link-grey{
  color: #236490;
  font-size: 12px;
}
