<!--<p>reset-password works!</p>-->
<!--<div class="container">-->
<!--  <app-dynamic-form [model]="model" (profile)="submit($event)"></app-dynamic-form>-->
<!--</div>-->

<div *ngIf="true">
  <h4>Enter Login Password</h4>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="g-margin-b-5-md mb-3">
      <label>Password</label>
      <input type="text" formControlName="password" class="form-control s-form-v4__input g-radius--50"
             placeholder="* password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors['required']">password is required</div>
        <div *ngIf="password.errors?.['pattern']">
          Password must contain at least one number, one uppercase and a
          lowercase letter and at least 8 characters<br />Password cannot
          contain whitespace
        </div>
      </div>
    </div>
    <div class="g-margin-b-20--xs mb-4">
      <label>Confirm Password</label>
      <input type="email" formControlName="confirmPassword" class="form-control s-form-v4__input g-radius--50"
             placeholder="* confirm password"
             [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
      <div *ngIf=" f.confirmPassword.errors" class="invalid-feedback">

<!--        <div *ngIf="confirmPassword.errors?.['pattern']">-->
<!--          Password must contain at least one number, one uppercase and a-->
<!--          lowercase letter and at least 8 characters<br />Password cannot-->
<!--          contain whitespace-->
<!--        </div>-->
        <div *ngIf="f.confirmPassword.errors['required']">password is required</div>

        <div *ngIf="f.confirmPassword.errors['confirmedValidator']">password do not match</div>
      </div>
    </div>

    <div class="g-text-center--xs g-margin-t-65--xs">
      <button type="submit"
              class="text-uppercase s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-80--xs">Confirm
      </button>
    </div>
  </form>
