<form #form="ngForm">
  <div class="mb-3">
<!--    {{filedTypeMenus |json}}-->
    <select  class="form-select" aria-label="Default select example" (change)="onSelect($event)">
            <option> Select form field type</option>
      <option *ngFor="let filedTypeMenu of filedTypeMenus">
       {{filedTypeMenu.name}}
      </option>

    </select>
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Insert Page-break</label>
  </div>
</form>

<!--{{ form.value| json }}-->

<div *ngIf="selectedFieldType">

  <div [ngSwitch]="selectedFieldType">
    <ng-template [ngSwitchCase]="'Dropdown / Select'">
      <app-options-dragand-drop [field]="filedTypeMenus" ></app-options-dragand-drop>
    </ng-template>

  </div>
</div>
