/*.containerOuter {*/
/*  display: flex;*/


/*  flex-direction: row;*/
/*  gap: 10px; !* Adjust the value as needed for the spacing between stacked elements *!*/
/*}*/

/*.containerOuter .detail{*/
/*  border-left: aqua solid thin;*/
/* width: 50%;*/
/*  padding:0px 30px ;*/
/*}*/
/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/

/*  gap: 10px; !* Adjust the value as needed for the spacing between stacked elements *!*/
/*}*/

/*.container .item {*/

/*  background-color: #6495ED;*/
/*  color: white;*/
/*  display: flex;*/
/*  justify-content: start;*/
/*  align-items: end;*/
/*  cursor: move;*/
/*  padding: 1em;*/
/*  transition: transform 0.2s ease-in-out; !* Add a transition for smooth animation *!*/
/*}*/

/*.container .item.cdk-drag-preview {*/
/*  opacity: 0.8; !* Adjust the opacity of the dragged element preview *!*/
/*  background-color: #FFA500; !* Customize the background color of the dragged element preview *!*/
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); !* Add a box shadow to the dragged element preview *!*/
/*}*/
html {
  --s: 120px; /* control the size */
  --c1: #e7525b;
  --c2: #78dbf0;

  --_g: 80%,var(--c1) 25.4%,#0000 26%;
  background:
    radial-gradient(at 80% var(--_g)),
    radial-gradient(at 20% var(--_g)),
    conic-gradient(from -45deg at 50% 41%,var(--c1) 90deg,var(--c2) 0)
    calc(var(--s)/2) 0;
  background-size: var(--s) var(--s);
}
body{
  height:auto;
}
