
<ul  class="nav nav-tabs separator-tabs ml-0 mb-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
       aria-controls="first" aria-selected="true" (click)="getReports(false)">QUESTIONS</a>
  </li>

  <li *ngIf="showResultTab" class="nav-item">
    <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab"
       aria-controls="third" aria-selected="false" (click)="getReports(true)">RESULTS</a>
  </li>
</ul>
