<div class="z-0 flex w-full flex-col items-center">
  <div class="relative z-10 flex max-w-full h-fit" id="prosemirror-editor-container"
       style="padding-bottom: max(3rem, 24vh);">
    <div class="_main_5jn6z_1 z-10 markdown prose dark:prose-invert contain-inline-size focus:outline-hidden bg-transparent ProseMirror"
      contenteditable="true" >
      <div contenteditable="false"></div>
      <p class=""><span><strong>Terms and Conditions for </strong></span><a
        href="https://peekerpro.com/"
        disabled="false"><span><strong>Peeker Pro</strong></span></a><span><strong></strong></span>
      </p>
      <p>
        <span><strong>Effective Date:</strong></span><span> 01 July 2025</span><br><span><strong> Updated At:</strong></span><span> 01 July 2025</span>
      </p>
      <p><span>These Terms and Conditions ("Terms") govern your access to and use of the software-as-a-service ("Service") provided by Peeker Pro Ltd through our platform accessible at https://peekerpro.com.</span>
      </p>
      <p><span>By signing up for, accessing, or using the Service, you agree to be bound by these Terms. If you are entering into this agreement on behalf of a company or other legal entity, you represent that you have the authority to bind such entity.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>1. </span><span><strong>Use of the Service</strong></span></h3><h4><span>1.1 Eligibility</span>
    </h4>
      <p><span>You must be at least 18 years old and legally capable of entering into a binding contract.</span>
      </p><h4><span>1.2 License</span></h4>
      <p><span>We grant you a non-exclusive, non-transferable, limited license to access and use the Service, subject to these Terms.</span>
      </p><h4><span>1.3 Restrictions</span></h4>
      <p><span>You may not:</span></p>
      <ul data-spread="false">
        <li><p><span>Copy, modify, or distribute the Service.</span></p></li>
        <li><p><span>Reverse engineer or attempt to extract the source code.</span></p>
        </li>
        <li><p><span>Use the Service for unlawful or unauthorised purposes.</span></p>
        </li>
      </ul>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>2. </span><span><strong>User Accounts</strong></span></h3>
      <p><span>You must provide accurate information when registering. You are responsible for maintaining the confidentiality of your login credentials and all activities under your account.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>3. </span><span><strong>Subscriptions and Payments</strong></span></h3>
      <h4><span>3.1 Fees</span></h4>
      <p><span>Access to the Service may require payment of subscription fees as described on the Site.</span>
      </p><h4><span>3.2 Billing</span></h4>
      <p><span>All payments are billed in advance on a recurring basis and are non-refundable, except as provided in our refund policy.</span>
      </p><h4><span>3.3 Free Trials</span></h4>
      <p><span>If you receive a free trial, you agree that upon expiration, your account will be charged unless you cancel 24 hours before the trial ends.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>4. </span><span><strong>Service Availability and Support</strong></span>
      </h3>
      <p><span>We aim to provide continuous availability of the Service but do not guarantee uptime. Scheduled maintenance or unforeseen outages may occur. Support is provided currently only via email at this point in time, however we hope to offer other means of support at some point in the future.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>5. </span><span><strong>Data and Privacy</strong></span></h3>
      <p><span>Our </span><span><a
        disabled="true"><strong>Privacy Policy</strong></a></span><span> describes how we collect, use, and protect your personal data. By using the Service, you consent to our data practices.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>6. </span><span><strong>Intellectual Property</strong></span></h3>
      <p><span>All intellectual property rights in the Service and content are owned by Peeker Pro Ltd or its licensors. You may not use any branding, logos, or proprietary materials without permission.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>7. </span><span><strong>Termination</strong></span></h3>
      <p><span>We may suspend or terminate your access to the Service at our discretion, with or without notice, if you violate these Terms. You may cancel your account at any time through your dashboard or by contacting support.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3>
        <span>8. </span><span><strong>Disclaimers and Limitation of Liability</strong></span>
      </h3>
      <p><span>The Service is provided "as is" without warranties of any kind. To the fullest extent permitted by law, we disclaim all warranties, and will not be liable for indirect, incidental, or consequential damages.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>9. </span><span><strong>Indemnification</strong></span></h3>
      <p><span>You agree to indemnify and hold harmless Peeker Pro Ltd, its affiliates, and employees from any claims or damages arising from your use of the Service or violation of these Terms.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>10. </span><span><strong>Changes to Terms</strong></span></h3>
      <p><span>We may update these Terms at any time by posting the revised version on the Site. Your continued use of the Service constitutes acceptance of the new Terms.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>11. </span><span><strong>Additional Liability Disclaimer.</strong></span></h3>
      <p><span>PEEKER PRO SHALL NOT BE LIABLE FOR ANY DAMAGES
OR LOSSES ARISING FROM ANY USE OF THIS SERVICE, INCLUDING ANY INTERRUPTIONS TO
THE APPLICATION OR ANY USE OF NOTIFICATIONS, INCLUDING, BUT NOT LIMITED TO, ANY
POWER OUTAGES, SYSTEM FAILURES, NETWORK ATTACKS, SCHEDULED OR
UNSCHEDULED MAINTENANCE, OR OTHER INTERRUPTIONS</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>12. </span><span><strong>Governing Law</strong></span></h3>
      <p><span>These Terms are governed by the laws of United Kingdom. Any disputes shall be resolved in the courts of the United Kingdom.</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
      <h3><span>13. </span><span><strong>Contact Us</strong></span></h3>
      <p>
        <span>For questions about these Terms, contact us at:</span><br><span>📧 Email: [</span><span><a
        disabled="true">support@peekerpro.com</a></span><span>]</span>
      </p>
      <div contenteditable="false">
        <hr>
      </div>
    </div>


  </div>
</div>

