p {
  font-family: Lato;
}

/*.alert,.alert-danger  {*/
/*  position: fixed;*/
/*  top: 160px;*/
/*  right: 0.5rem;*/
/*  border:1px solid rgba(0, 0, 0, 0.2);*/
/*  border-radius: 0.25rem;*/
/*  padding: 2rem;*/
/*  background: #6b727a;*/
/*  color: #8fc9b7;*/
/*  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);*/
/*  transition:  all 0.2s ease-in-out;*/
/*  opacity: 0;*/
/*}*/
.alert{
  z-index: 999999;
}
.alert-danger{
  color: red;
  background: white;
}


.visible {
  opacity: 1;
  transform: translateY(1.25rem);
}
