<!--<a class="main-nav__link" routerLink="tester/123">Tester</a>-->
<app-join-requests [studyInfo]="study"></app-join-requests>
<router-outlet></router-outlet>
<!--<h1>Community</h1>-->




<!--<h3>Get Study</h3>-->
<!--<pre>{{study|json}}</pre>-->

<!--<h3>Get all User Categories</h3>-->
<!--<pre>{{categories| json}}</pre>-->
<!--<p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/coummunity/invite']">Invite</a></p>-->
<!--<app-shortlisted></app-shortlisted>-->



<!--<app-invited></app-invited>-->
